 body {
  background-image: url('img/0.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#glavni_naslov {
    background-color: red;
    color: white;
    text-align: center;
    font-style: italic;

}

#prvi_naslov {
	background-color: blue;
	color: white;

}

#drugi_naslov {
    color: red;

}

#treci_naslov {
	color: aqua;
}